
body{
    margin: auto 0; 
    font-family: Roboto, sans-serif;    
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
}

ul{
    display: flex; 
    flex-direction: row; 
    color: #E5E7EB; 
    list-style-type: none;
}

li{
    font-size: 18px; 
    margin:20px; 
}

.header,
.footer{
    background-color: #1F2937;
    padding: 20px; 
}


.header{
    padding-bottom: 100px; 
}

.footer{
    height: 30px; 
    display: flex; 
    color: white; 
    justify-content: center; 
    align-items: center; 
}

.header-top{ 
    display: flex;
    flex-direction: row; 
    height: 50px; 
    justify-content: space-around; 
    margin-bottom: 50px; 
}

.header-content{
    display: flex; 
    justify-content: center; 
    gap: 60px; 
}

.header-content h1{ 
    font-size: 48px; 
    color:#f9faf8; 
    font-weight: 900px; 
}

.header-content p{
    font-size: 18px; 
    color: #E5E7EB; 
}

.header-content button{
    color: white; 
    background-color: #3882f6; 
    border-radius: 8px; 
    padding: 8px 24px; 
    font-weight: bold; 
}


.image-container{
    background-color: white; 
    display: flex; 
    flex-direction: column; 
    flex: 1; 
    align-items: center; 
    justify-content: space-around; 
    text-align: center; 
    padding: 50px 24px; 
}


.image-container img{
    width: 200px; 
    height: auto; 
    padding: 50px 24px; 
}

.expertise-text{
    font-weight: bold; 
    color:  #1F2937; 
}

.item-order{
    display: flex; 
    flex-direction: row; 
    gap: 100px; 
}

.quote-container{
    background-color: #E5E7EB;
    display: flex; 
    justify-content: center; 
    align-content: center; 
    padding: 50px 24px; 
}

.quote h2,
.quote h3{ 
    width: 300px; 
    size: 36px; 
    font-style: italic; 
    font-weight: light; 
    color: #1F2937;
}

.box-container{
    background-color: white; 
    padding: 50px 24px; 
    display: flex; 
    justify-content: center; 
}

.action-box{
    display: flex; 
    flex-direction: row; 
    background-color: #3882f6; 
    height: 150px;  
    width: 1200px; 
    justify-content: space-around; 
    align-items: center; 
}

.action-message{ 
    color: white; 
}

.action-button button{
    color: white; 
    background-color: #3882f6; 
    border-radius: 8px;
    border-color: white;  
    padding: 8px 24px; 
    font-weight: bold; 
}

.logo{
    font-size: 24px; 
    color: #f9faf8; 
    font-family: Rumble; 
} 
